extends layout

block content
    include  ./templates/header.pug
    .whitenav
        a(href='/')
            img(src='./images/zoominfo.PNG', alt='zoominfo')
        a(href='/Pricing') Pricing
        a(href='/Platform') Platform
        a(href='/Data' style='font-weight:900') Our Data
        a(href='/Summit') Summit 2018
        a(href='/resources') Resources
        a(href='/about') About
        a#orangesquare(href='/Free') Free trial
    .bluenav
        p data content


        .green-flex-container
            div
                h1 267M
                p
                    | Business people
                    br
                    | & counting
                .green-flex-container-small
                    img(src='./images/Founded.PNG' alt = 'founded')
                    p Founded: 2000

            div
                h1 16M
                P
                    | Company profiles
                    br
                    | & counting
                .green-flex-container-small
                    img(src='./images/Headquarters.PNG' alt='headquarters')
                    p Headquarters: Waltham, MA

            div
                h1 59M
                p
                    | Direct dials
                    br
                    | & counting
                .green-flex-container-small
                    img(src='./images/Patents.PNG' alt=patents)
                    p Patents: Six
        -var x
        -for (x=0; x< c.length; x++){
        if (x % 2 == 0)
            .youtube-container
                iframe(width='420', height='345', src=c[x].youtubeURL)
                div
                    img(src=c[x].divdata[0], alt='chat')
                    h3#demo #{c[x].divdata[1]}
                    p #{c[x].divdata[2]}

        else
            .youtube-container
                div
                    img(src=c[x].divdata[0], alt='chat')
                    br
                    h3#demo #{c[x].divdata[1]}
                    p #{c[x].divdata[2]}
                iframe(width='420', height='345', src=c[x].youtubeURL)
        -}
